<!doctype html>
<html lang="en">

<head>
    <%- include('../templates/head') %>
    <link rel="stylesheet" href="/css/password.css">

    <title>Super Nigerians</title>
</head>

<body>
    <%- include('../templates/sidebar') %>

    <main id="main">
        <div class="row" style="margin: 0;">
            <div class="col-md-6 col-lg-4 mx-auto p-4">
                <h3 class="my-4 text-center prj green-text">Forget Password</h3>
                <form class="p-5">
                    <div class="form-group">
                        <label for="Emai1">Email address</label>
                        <input type="email" class="form-control py-4" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="e.g oluola@gmail.com" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success btn-lg my-3">Submit</button>
                    </div>
                    <p class="text-center">Don't have an account? <a href="#">Sign Up</a></p>
                </form>
            </div>
        </div>
    </main>

</body>

</html>