<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./templates/head') %>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/animate.css" />
</head>

<body>
    <%- include('./templates/sidebar') %>
    <main id="main" style="padding-top: 0;">
        <section class="section-b">
            <div class="overlay">
                <div class="section-b-inner container">
                    <h3 class="text-2 animate__animated animate__slideInDown">Nigerians</h3>
                    <h2 class="text-5 mt-1 animate__animated animate__bounceIn">The Giants Of Africa</h2>
                    <p class="text-3 mt-1 animate__animated animate__slideInUp">
                        Nigerians making positive impacts in the world
                    </p>
                    <div class="d-flex">
                        <a href="/posts" class="btn custom-btn animate__animated animate__backInUp mr-3">EXPLORE</a>
                        <a href="/contactUs" class="btn custom-btn animate__animated animate__backInUp">CONTACT US</a>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>

</html>