<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./templates/head') %>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
</head>

<body>
    <%- include('./templates/sidebar') %>
     <main id="main" >
        <!----------------Site section----------------------->
        <section class="section-b">
            <div class="overlay">
                <div class="section-b-inner py-5">
                    <h3 class="text-2">Nigerians</h3>
                    <h2 class="text-5 mt-1">People Aren't Hearing All the Good Things Nigerians Do</h2>
                    <p class="mt-1">
                        Nigeria is a country filled with blessed people, home and abroad...unfortunately this is not
                        duly
                        recognised. Click the button bellow to learn more about the awesome things Nigerians do
                    </p>
                    <button class="btn btn-primary badge-pill">Click here to know more</button>
                </div>
            </div>
        </section>

        <!-- Gallery -->
        <section>
            <div class="row">
                <div class="col-md-3 px-0">
                    <a href="#"><img class=" img-fluid" src="/images/dangote.jpg" alt="Aliko Dangote" /></a>
                </div>
                <div class="col-md-3 px-0">
                    <a href="#"><img class=" img-fluid" src="/images/dangote.jpg" alt="Aliko Dangote" /></a>
                </div>
                <div class="col-md-3 px-0">
                    <a href="#"><img class=" img-fluid" src="/images/dangote.jpg" alt="Aliko Dangote" /></a>
                </div>
                <div class="col-md-3 px-0">
                    <a href="#"><img class=" img-fluid" src="/images/dangote.jpg" alt="Aliko Dangote" /></a>
                </div>
            </div>
        </section>

        
    </main> 

</body>

</html>