<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

      <!--FOn]t awesome-->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap">

      <link rel="stylesheet" href="../public/css/password.css">

    <title>Sccola-Super</title>
  </head>
  <body>
        <div class="row">
            <div class="col-md-6 col-lg-4 mx-auto p-4">
                <h3 class="my-4 text-center prj green-text">Reset Password</h3>
                <form class="p-5">
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" name="password" class="form-control prj-form-control py-4" id="password" placeholder="Password" autocomplete="new-password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,}" minlength="8" required="">

                    </div>
                    <div class="form-group">
                      <label for="password">Confirm Password</label>
                      <input type="password" name="password" class="form-control prj-form-control py-4" id="password" placeholder="Password" autocomplete="new-password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,}" minlength="8" required="">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success btn-lg my-3">Submit</button>
                    </div>
                    <p class="text-center">Don't have an account? <a href="#">Sign Up</a></p>
                  </form>
            </div>
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>