:root {
  --mainColor: #00643c;
  --secondaryColor: #666666;
}

body {
  padding: 0;
  margin: 0;
}

form {
  background: #f8f9fa;
}

.form-control {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form-control:focus,
.form-control:active {
  border: 1px solid #00643c !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.forgotPasswordImg {
  background: url(../images/forgot-password.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.resetPasswordImg {
  background: url(../images/reset-password.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

h3 {
  font-family: "Lora", serif;
  line-height: 1.5;
  font-size: 1.75rem;
}

h3,
p a {
  color: var(--mainColor);
  text-decoration: none;
}

p a:hover {
  color: var(--mainColor);
}

label,
p {
  color: var(--secondaryColor);
  text-decoration: none;
}

.btn-success {
  background: var(--mainColor);
  font-size: 20px;
}

.btn-success:hover {
  background: var(--mainColor);
}
