:root {
    --mainColor: #00643c;
    --secondaryColor: #666666;
}


*, body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.8;
    font-size: 15px;
}

form {
    background: #f8f9fa;
}

::placeholder {
    font-size: 20px;
}

h3 {
    font-family: 'Lora', serif;
    line-height: 1.5;
    font-size: 1.75rem;
}

h3, p a {
    color: var(--mainColor);
    text-decoration: none;
}

p a:hover {
    color: var(--mainColor);
}

label, p {
    color: var(--secondaryColor);
    text-decoration: none;
}

.btn-success {
    background: var(--mainColor);
    font-size: 20px;
}

.btn-success:hover {
    background: var(--mainColor);
}