body {
  font-family: "Poppins", sans-serif;
  /* max-width: 1440px; */
  background-color: #fafafa;
}

.nav-item {
  font-size: 16px !important;
  font-weight: 500 !important;
}

.nav-tabs .nav-link.active,
.nav-link:hover,
.nav-link:focus {
  color: #00643c !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: 2px solid #00643c !important;
}
.nav-tabs .nav-link {
  color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
}

.hover-post-content {
  cursor: pointer;
  opacity: 0;
  top: 0%;
  left: 0px;
  color: #fff;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.hover-post-content:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
}

.prj-text-small {
  font-size: 12px;
}
.prj-text-normal {
  font-size: 14px;
}
.prj-text-large {
  font-size: 16px;
}

button.btn.prj-btn-primary {
  color: #fff;
  background-color: #00643c;
}

button.btn.prj-btn-primary:hover {
  color: #00643c;
  background-color: #fff;
  border: 1px solid #00643c;
}

button.btn.prj-btn-primary:focus {
  color: #fff;
  background-color: #00643c;
  box-shadow: none;
}


.profile-img {
  max-height: 200px;
  max-width: 200px;
}

.post-btn {
  background-color: #00643c !important;
  padding: 10px 50px !important;
  font-weight: 500 !important;
  transition: all 0.3s ease;
}

.post-btn:hover,
.post-btn:active,
.post-btn:focus {
  background-color: #ffffff !important;
  border-color: #00643c !important;
  color: #00643c !important;
}

textarea {
  min-height: 40vh;
}
