body {
  font-family: Poppins, "sans-serif";
  max-width: 1440px;
  background-color: #fafafa;
}

nav {
  height: max-content;
  background-color: rgba(44, 255, 55, 0.068);
}

.nav-link,
.nav-link:hover {
  color: #28a745;
}
.nav-tabs .nav-link{
  color: rgba(0, 0, 0, 0.80);
}
.nav-tabs .nav-link.active {
  color: #28a745;
  border: none;
  border-bottom: 2px solid #28a745;
}

.hover-post-content {
  cursor: pointer;
  opacity: 0;
  top: 0%;
  left: 0px;
  color: #fff;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.hover-post-content:hover {
  opacity: 1;
  background-color: rgba(0,0,0,0.5);
  display: block;
}

.prj-text-small{
  font-size: 12px;
}
.prj-text-normal{
  font-size: 14px;
}
.prj-text-large{
  font-size: 16px;
}

.profile-img{
  max-height: 200px;
  max-width: 200px;
}