<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/images/nigeria-icon.png" type="image/x-icon">

<!---SEO -->
<meta name="keywords"
    content="Nigerians, Nigerian, Nigeria, Nigerai, Naija, Black, Blacks, POC, People Of Colour, People Of Color, Richest People In Nigeria, Most Prominent Tech People In Nigeria, Achievers, Innovators, Creators, list, making it, famous, international, finance">
<meta name="description"
    content="Nigerians are innovators, problem solvers that help make the world a better place. This blog shows the world Nigerians that are out there doing great things.">
<meta name="author" content="HNG interns">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:wght@400;500;600;700&display=swap"
    rel="stylesheet">

<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

<!-- Boilerplate CSS -->
<link rel="stylesheet" href="/css/bootstrap.css">

<!-- Custom -->
<link rel="stylesheet" href="/css/sidebar.css">
<!--Title tag--- do not change SEO related -->
<title>Nigerians making positive impacts in the world</title>


<!-- Boilerplate JS -->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/popper.js"></script>

<!-- Custom JS -->
<script src="/js/sidebar.js"></script>