<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="img/png" href="">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
      <link rel="stylesheet" href="./singlePost.css" />
	<title>superNigerians | post-page</title>
</head>
<body>

	<section class="text-center">
		<div >
			<img src="./image_1.jpg" alt="single post picture" class="img-fluid" id="singlePostPix">
		</div>
		<div class="container">
			<div class="row mx-auto">
				<div class="col-12 ml-0 ml-md-5 text-left">
					<h3 class="font-weight-old py-4 text-center">A Loving Heart is the Truest Wisdom</h3>
					<p class="text-secondary pr-0 pr-md-5">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
				</div>
				<div class="col-12 author mb-4 py-0 py-md-4">
				 	<div class="row">
					 	<div class="col-5 pr-0">
					 		<img src="./person_1.jpg" class="rounded-circle" height="70px">
					 		<!-- <a href="#" class="img img-fluid" style="background-image: url(./images/person_1.jpg);"></a> -->
					 	</div>
	            	
	            		<div class="col text-dark pl-0">
	            			<span class="text-secondary">Written by</span>
	            			<h6 class="text-black"><a href="#">Dave Lewis</a><span>, June 28, 2019</span></h6>
	            		</div>
	            	</div>
            	</div>
            	<div class="col-12 mb-3 mb-md-5">
	            	<div class="row px-5">
	            		<p class="mx-auto">
		              		<a><i class="fa fa-heart" class="pr-2"></i>3</a>
		              		<a><i class="fa fa-eye" class="pr-2"></i>100</a>
		              		<a><i class="fa fa-comment" class="pr-2"></i>5</a>
		              	</p>
	            	</div>
	            </div>
	            <div class="col-12 p-5 bg-light">
	            	<h3>Your Comment</h3>
	            	<form class="text-left px-3 px-md-">
	            		<div class="form-group">
	            			<!-- <label for="name">Name</label> -->
	            			<input type="text" name="" placeholder="your name here" class="b form-control">
	            		</div>
	            		<div>
	            			<textarea class="form-control">
		            			<h6>
		            				Your comment here
		            			</h6>
	            			</textarea>
	            		</div>
	            	</form>
	            </div>
			</div>
		</div>
	</section>


</body>
</html>