<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
    <title>Articles</title>
    <%- include('../templates/head') %>
    <link rel="stylesheet" href="/css/error404.css" />
  </head>

  <body style="background: #f8f9fa;">
    <main id="main" class="my-md-5">
      <div class="container-fluid">       
        <div class="row d-flex my-5">
                <div class="col-12 col-md-6 justify-content-center">
                    <h1 class="">Oops! <br> Page Not Found.</h1>
                    <h3 class="">We are sorry, the page you're looking for is not here.</h3>
                    <h3 class="">Please return to the <a  class="btn btn-success" href="/"> <span style="color: white;" >Home Page</span></a></h3>
                </div>
                <div class="col-12 col-md-6 d-flex align-items-center justify-content-center my-5">
                    <h1 class="text-center error404"><span>4</span><span>0</span><span>4</span></h1>
                </div>
        </div>
        </div>
      </div>
    </main>
  </body>
</html>
