<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../templates/head') %>
    <link rel="stylesheet" href="/css/error-500.css" />
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
	  <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
  </head>

  <body style="background: #f8f9fa;">

    <main id="main">
      <div class="container-fluid">
       
        <div id="sever-error">
          <div class="server-error">
            <div class="error-500">
              <h3 class="text-center">Oops! Internal Server Error</h3>
              <h1 class="text-center"><span>5</span><span>0</span><span>0</span></h1>
            </div>
            <h4 class="text-center">we are sorry, please <a class="homepage" href="#">return to homepage</a></h4>
            
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
