<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../templates/head') %>
    <link rel="stylesheet" href="/css/terms-conditions.css" />
  </head>

  <body style="background: #f8f9fa;">
    <%- include('../templates/sidebar') %>

    <main id="main">
      <div class="container-fluid">
        <div class="hero-image"></div>
        <div class="policies">
          <div class="topic text-center">
            <h2>
              Terms and Privacy Policies At Super Nigerians
            </h2>
          </div>

          <div class="row">
            <div class="col-12">
              <p>
                At Super Nigerians, accessible at supernigerian.com, our main
                priorites is the privacy of our visitors. These terms and
                conditions contains types of information that is collected and
                recorded by Super Nigerians and how we use it.
              </p>
              <p>
                If you have additional questions or require more information
                about our terms and conditions, do not hesitate to contact us
                through email at supernigerians@support.com
              </p>
              <p>
                These terms applies only to our online activities and is valid
                for visitors on our website with regards to the information that
                they will share and/or collect in Super Nigerians. This policy
                is not applicable to any information collected offline or via
                channels other than this website.
              </p>
            </div>
          </div>
          <div class="col-12 consent">
            <h3 class="text-center">
              Consent
            </h3>
            <p class="text-center">
              By using our website, you hereby consent to our Privacy Policy and
              agree to its terms.
            </p>
          </div>
          <div class="col-12 information">
            <h3 class="text-center">
              Information we collect
            </h3>
            <p>
              The personal information that you are asked to provide, and the
              reasons why you are asked to provide it, will be made clear to you
              at the point we ask you to provide your personal information.
            </p>
            <p>
              If you contact us directly, we may receive additional information
              about you such as your name, email address, phone number, the
              contents of the message and/or attachments you may send us, and
              any other information you may choose to provide.
            </p>
            <p>
              When you register for an Account, we may ask for your contact
              information, including items such as name, company name, address,
              email address, and telephone number.
            </p>
          </div>
          <div class="col-12 use-information">
            <h3 class="text-center">
              How We Use Your Information
            </h3>
            <p>
              We use the information we collect in various ways, including to:
            </p>
            <ul>
              <li>
                Provide, operate, and maintain our webste
              </li>
              <li>
                Improve, personalize, and expand our webste
              </li>
              <li>
                Understand and analyze how you use our webste
              </li>
              <li>
                Develop new products, services, features, and functionality
              </li>
              <li>
                Communicate with you, either directly or through one of our
                partners, including for customer service, to provide you with
                updates and other information relating to the webste, and for
                marketing and promotional purposes
              </li>
              <li>
                Send you emails
              </li>
              <li>
                Find and prevent fraud
              </li>
            </ul>
          </div>
          <div class="col-12 Advertising">
            <h3 class="text-center">
              Advertising Parrtners Privacy Policies
            </h3>
            <p>
              You may consult this list to find the Privacy Policy for each of
              the advertising partners of Super Nigerians.
            </p>
            <p>
              Third-party ad servers or ad networks uses technologies like
              cookies, JavaScript, or Web Beacons that are used in their
              respective advertisements and links that appear on Super
              Nigerians, which are sent directly to users' browser. They
              automatically receive your IP address when this occurs. These
              technologies are used to measure the effectiveness of their
              advertising campaigns and/or to personalize the advertising
              content that you see on websites that you visit.
            </p>
            <p>
              Note that Super Nigerians has no access to or control over these
              cookies that are used by third-party advertisers.
            </p>
          </div>
          <div class="col-12 third-party">
            <h3 class="text-center">
              Third-Party Privacy Policies
            </h3>
            <p>
              Super Nigerians Privacy Policy does not apply to other advertisers
              or websites. Thus, we are advising you to consult the respective
              Privacy Policies of these third-party ad servers for more detailed
              information. It may include their practices and instructions about
              how to opt-out of certain options. You may find a complete list of
              these Privacy Policies and their links here: Privacy Policy Links.
            </p>
            <p>
              You can choose to disable cookies through your individual browser
              options. To know more detailed information about cookie management
              with specific web browsers, it can be found at the browsers'
              respective websites. What Are Cookies?
            </p>
          </div>
          <div class="col-12">
            <h3 class="text-center children">
              Children's Information
            </h3>
            <p>
              Another part of our priority is adding protection for children
              while using the internet. We encourage parents and guardians to
              observe, participate in, and/or monitor and guide their online
              activity.
            </p>
            <p>
              Super Nigerians does not knowingly collect any Personal
              Identifiable Information from children under the age of 13. If you
              think that your child provided this kind of information on our
              website, we strongly encourage you to contact us immediately and
              we will do our best efforts to promptly remove such information
              from our records.
            </p>
          </div>
          <div class="svg-wrapper">
            <svg role="img" aria-label="Return button" height="60" width="500" class="line" xmlns="http://www.w3.org/2000/svg">
              <!--SEO IMAGE ACCESSIBILITY-->
              <title>Return Button</title>
              <rect class="shape" height="60" width="340" />
            </svg>
             <a href="#" class="text text-center">Return</a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
