<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="css/user-update-profile.css">
  <%- include('../templates/head') %>


  <!-- <#% if (title) { %>
    <#%= title %>
    <#% } %>
    <#% } else { %>
    User profile
    <#% } %> -->
  <title>
    User dashboard
  </title>
</head>

<body>
  <%- include('../templates/sidebar') %>

  <main id="main" class="pt-5">
    <div class="container-fluid main-container">
      <div class="row">
        <div class="mx-auto col-11 col-md-8 shadow-sm py-3">
          <h1 class="h3 text-center">Update Profile</h1>
          <form class="my-5" name="updateProfileForm">
            <div class="form-group">
              <label for="firstName">First name</label>
              <input type="text" class="form-control" id="firstName" name="firstname" placeholder="e.g Mark"
                autocomplete="given-name" autocapitalize="on" minlength="2">
            </div>
            <div class="form-group">
              <label for="lastName">Last name</label>
              <input type="text" class="form-control" id="lastName" name="lastname" placeholder="e.g Mark"
                autocomplete="family-name" autocapitalize="on" minlength="2">
            </div>
            <div class="form-group">
              <label for="userName">Username</label>
              <input type="text" class="form-control" id="userName" name="username" placeholder="e.g D'Marko"
                autocomplete="username">
            </div>
            <div class="form-group">
              <!-- TODO: Make sure URL ends in photo file extensions -->
              <label for="photo">Photo url</label>
              <input type="url" class="form-control" id="photo" name="photo" placeholder="e.g https://...">
              <small class="text-muted">You can use an image URL from Google Drive or <a href="https://imgur.com">Imgur</a></small>
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="tel" class="form-control" id="phone" name="phone" autocomplete="url">
            </div>
            <div class="form-group">
              <!-- Set as select and iterate over -->
              <label for="country">Country</label>
              <input type="text" class="form-control" id="country" name="country" placeholder="Nigeria" autocomplete="country-name" autocapitalize="on">
            </div>
            <div class="form-group">
              <label for="state-city">State/City</label>
              <input type="text" class="form-control" id="state-city" name="stateOrCity" placeholder="Lagos">
            </div>
            <div class="text-center">
              <button class="btn btn-lg btn-success">Update profile</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  <script src="/js/update-profile.js"></script>
</body>

</html>

<!--
"firstname":"james",
"lastname":"Robert",
"username":"boyroberto",
"photo":"https://ur..com",
"location":"Nigeria, Delta",
"phone":"7208202563"
 -->